# npm
node_modules/
package-lock.json
*.log
*.gz

# Coveralls
.nyc_output
nyc_tlc_parquet_files/
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore